/*Modo Claro*/
:root {
    --bg-color: #ffffff;
    --text-primary: #005eff;
    --text-secondary: #4a5568;
    --accent-color: #2b6cb0; /* Un azul para botones */
}
/*Modo Oscuro*/
.dark-mode {
    --bg-color: #1a202c;
    --text-primary: #ff0000;
    --text-secondary: #cbd5e0;
    --accent-color: #63b3ed;
}
.detalle-curso {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--bg-color); 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.titulo-moderado {
    font-size: 2rem; 
    font-weight: 700; 
    color: var(--text-primary); 
    text-align: center;
    margin-bottom: 1.5rem;
}

.texto-normal {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--text-secondary); 
    text-align: justify;
}

.texto-normal b, .texto-normal strong {
    color: var(--text-primary);
}